.git
.gitignore
.env
.env.example
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/app/public/*
bootstrap/cache/*
vendor/
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.cache
.composer
tests/
database/migrations/*
!database/migrations/.gitkeep
docker-compose.local.yml
.editorconfig
.gitattributes
.styleci.yml
.php-cs-fixer.php
phpstan.neon
psalm.xml
artisan
